<div class="nested-fields form-inline">
  <div class="form-group">
    <%= f.label :No %>
    <%= f.number_field :song_order %>

    <%= f.label :曲名 %>
    <%= f.text_field :song_name %>

  </div>
</div>