<div class="nested-fields form-inline">
  <div class="form-group">
    <%= f.label :song_order, 'No' %>
    <%= f.number_field :song_order %>

    <%= f.label :song_name, '曲名' %>
    <%= f.text_field :song_name %>

  </div>
</div>