<div class="body">
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">商品収録曲編集</div>
				<div class="panel-body">
					<p>タイトル : </p>
					<p>収録曲</p>
					<%= form_for(@song) do |f| %>
					<%= f.text_field :song_order %> <%= f.text_field :song_name %>
					<%= f.submit '登録',class: "btn btn-success" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>