<table>
	<thead>
		<th class="checkoutNav">配送先情報記入</th>
		<th class="checkoutNav">支払い</th>
		<th class="checkoutNav">購入確認</th>
		<th class="checkoutNav">購入完了</th>
	</thead>
	<tbody>
	<tr class="text-center">
		<td id="fst"><i class="far fa-circle fa-2x"></i></td>
		<td id="snd"><i class="far fa-circle fa-2x"></i></td>
		<td id="trd"><i class="far fa-circle fa-2x"></i></td>
		<td id="lst"><i class="far fa-circle fa-2x"></i></td>
	</tr>
</tbody>
</table>

<style>
	.checkoutNav  {
		padding: 0 20px;
	}
</style>