<table>
	<thead>
		<th class="checkoutNav">Address</th>
		<th class="checkoutNav">Payment</th>
		<th class="checkoutNav">Confirm</th>
		<th class="checkoutNav">Complete</th>
	</thead>
	<tbody>
	<tr class="text-center">
		<td id="fst"><i class="far fa-circle"></i></td>
		<td id="snd"><i class="far fa-circle"></i></td>
		<td id="trd"><i class="far fa-circle"></i></td>
		<td id="lst"><i class="far fa-circle"></i></td>
	</tr>
</tbody>
</table>

<style>
	.checkoutNav  {
		padding: 0 20px;
	}
</style>