<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading">注文状況</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>id</th>
									<th>購入日</th>
									<th>ユーザー</th>
									<th>購入品数</th>
									<th>価格</th>
									<th>配送準備</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">カート合計</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>商品</th>
									<th>価格</th>
									<th>個数</th>
									<th>合計</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

