<div class="body">
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">About</div>
				<div class="panel-body">
					<div class="col-md-5">
						<%= image_tag 'shop.jpg', class: "aboutImg" %>
					</div>
					<div class="col-md-7">
						<h3>軽井沢の山小屋CDショップから全国に選りすぐりの音楽をお届けするオンラインCDショップです。</h3>
						<br>
						<h5>当店では、大手のCDチェーン店とは異なり一期一会の出会いを大切にした少量入荷、希少さにこだわった味のある商品を数多く取り揃えています。</h5>
						<h5>商品のお問い合わせについてはこちらから</h5>
						<br>
						<h5>【店舗について】</h5>
						<h5>・住所：</h5>
						<h5>・営業時間：</h5>
						<h5>・アクセス：</h5>
						<h5>・定休日：</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<style>
	.aboutImg {
		width: 100%;
	}
</style>