<div class="body">
	<div class="container">
		<div class="row">			
			<div class="panel panel-default">
				<div class="panel-heading">About</div>
				<div class="panel-body">
					<div class="col-md-5">
						<img src="assets/about.jpg" class="img-responsive img-rounded">
					</div>
					<div class="col-md-7">
						<p>texttexttexttexttext</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


