<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading"><%= link_to "ジャンルで探す",'/categories' %></div>
					<div class="panel-body">
						<% @categories.each do |category| %>
						<tr>
							<li><%= link_to category.category_name, category_path(category.id) %></li>
						</tr>
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">ピックアップ</div>
					<div class="panel-body">
						<% @pickups.each do |pickup| %>
						<tr>
							<li><%= link_to pickup.pickup_title, pickup_path(pickup.id) %></li>
						</tr>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<img src="assets/main_image.jpg" class="img-responsive img-rounded">

				<div class="panel panel-default">
					<div class="panel-heading">新着音楽</div>
					<div class="panel-body">
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">新着コメント</div>
					<div class="panel-body">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
