<div class=sample>
  <h2>お問い合わせ一覧</h2>
</div>
<table class="table">
<thead>
  <tr>
    <th>id</th>
    <th>お問い合わせ日時</th> 
    <th>ユーザー名</th> 
    <th>お問い合わせカテゴリー</th> 
    <th>内容</th> 
    <th>削除</th> 
  </tr>
</thead>  
  

</table>

