<div class body>
    <div class container>
        <div class "row">
            <h2> 問い合わせ詳細</h2>
            <div class= "col-lg-4">
                <p>ユーザー名 <%= @inquiry.user.user_name %></p>
                <p>ユーザーID</p>
                <P>Email</P>
                <P>カテゴリー</P>
                <P>内容</P>
                <P>問い合わせID</P>
            </div>
        </div>
    </div>
</div>
